<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      Logged in as <%= current_user.email %>
    <% end %>
    <% if flash[:error] %>
      <div id='notice'><%= flash[:error] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
